<div *ngIf="patient">
  <h2>{{patient.first_name}} {{patient.last_name}} Details</h2>
  <div><span>id: </span>{{patient.patient_id}}</div>
  <div><span>sex: </span>{{patient.sex}}</div>
  <div><span>dob: </span>{{patient.dob}}</div>
  <div><span>address: </span>{{patient.address}}</div>
  <div><span>phone: </span>{{patient.phone}}</div>
  <div><span>last accessed: </span>{{patient.last_accessed_date}}</div>
  <div><span>last updated: </span>{{patient.last_updated_date}}</div>
  <div><span>created: </span>{{patient.create_date}}</div>

  <!--<div>
    <label>Diagnoses:
      <input [(ngModel)]="patient.diagnoses" placeholder="none"/>
    </label>
  </div>-->

  <button (click)="goBack()">go back</button>
  <button (click)="save()">save</button>
</div>
