<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Patient</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<!--https://itnext.io/creating-forms-inside-modals-with-ng-bootstrap-221e4f1f5648-->
<div class="modal-body">
    <form [formGroup]="patientForm" (ngSubmit)="submitForm()">
        <div class="container">
            <div class="form-group">
                <label for="first_name">First name</label>
                <input type="text" class="form-control" formControlName="first_name">
    <!--            <label for="dateOfBirth">Date of birth</label>-->
    <!--            <div class="input-group">-->
    <!--                <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->
    <!--                <div class="input-group-append">-->
    <!--                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>-->
    <!--                </div>-->
    <!--            </div>-->
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Save click')">Save</button>
</div>
